.Dialogues {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.contacts {
    background-color: burlywood;
    padding: 5px 10px;
}

.messages {
    background-color: #11592e;
    padding: 5px 10px;
}

.search {
    color: #591111;
}