.menu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}