.friendBlock {
    height: 70px;
    width: 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.friendCircle {
    width: 30px;
    height: 30px;
    background-color: #111111;
    border-radius: 50%;
}

.friendName {
    height: 40px;
}