@use '../../../mainStyles';

.buttonWrapper {
    width: 100%;
}
.button {
    width: 100%;
    height: 50px;
    border: 2px solid mainStyles.$color-lightgray;
    border-radius: 10px;
    background-color: hsla(0,0,0,0);
    @include mainStyles.font-roboto-condensed;
}

.item {
    width: 100%;
    text-decoration: none;
    margin-bottom: 10px;
}
.active {
    filter: brightness(75%);
}