.user {
    background-color: #114f60;
    height: 200px;
    margin: 5px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr;
}

.avatarContainer {
    border-radius: 20px 20px 0 0;
    background-image: url('../../../../img/unknown_avatar.jpg');
    background-size: cover;
}

.avatar {
    width: 100%;
    height: 100%;
}

.currentPage {
    font-weight: bold;
    filter: brightness(26%);
}