.Navbar {
    grid-area: Navbar;
    background-color: rgba(51, 17, 17, 0.75);
    padding: 10px 25px;
}

.Navbar-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.Navbar-list {
    list-style: none;
}