@use '../../../../../mainStyles';

.post {
    margin: 10px;
    @include mainStyles.border-and-radius();
    background-color: mainStyles.$color-gray;
    padding: 10px 15px;
}

.post_data,
.post_options {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.post_options {
    display: flex;
    justify-content: space-between;
    color: lighten(mainStyles.$color-black, 40%);
}

.avatar {
    margin-right: 10px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222;
    background-image: url('https://play-lh.googleusercontent.com/Ew7HkAyuZeKrb93Cjhay-oUm5iJFA808RcRu_9ys2zqbZHPq3yceN_kL6Wo5Yb1DcCEC');
    background-size: cover;
}

.name {
    font-weight: bold;
}

.timeMark {
    margin-left: 15px;
    display: inline-block;
    font-weight: 300;
    color: lighten(mainStyles.$color-black, 40%);
}

.text {
    margin: 10px;
}

.content {
}