* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*БЕЗ СКРОЛЛА СТРАНИЦЫ, ГДЕ ЕГО НЕТ, БУДУТ СЪЕЗЖАТЬ И НАОБОРОТ*/
  overflow-y: scroll;
  min-height: 100vh;
}

.wrapper-app {
  display: grid;
  grid-template-areas: 
  "header header"
  "navbar main"
  "navbar main";
  grid-template-columns: 1fr 5fr;
}

.main {
  grid-area: main;
}

.content {
  background-color: rgba(245, 245, 220, 0.8);
}