* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*БЕЗ СКРОЛЛА СТРАНИЦЫ, ГДЕ ЕГО НЕТ, БУДУТ СЪЕЗЖАТЬ И НАОБОРОТ*/
  overflow-y: scroll;
  min-height: 100vh;
}

.wrapper-app {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';

}

.container {
  margin: 0 auto;
  /*width: 1200px;*/
  /*Убрано ограничение ширины*/
  /*padding: 0 20px;*/
}

/**/
.main {
  /*background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');*/
  /*background-size: cover;*/
}

.grid_container {
  grid-area: main;
  display: grid;
  grid-template-columns: 200px 1fr;
  /*gap: 10px;*/
}

.content {
  background-color: rgba(245, 245, 220, 0.8);
}