.Navbar {
    background-color: rgba(51, 17, 17, 0.75);
    grid-area: navbar;
}

.list {
    margin: 15px;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}