.header {
    grid-area: header;
    background-color: #111;
    height: 80px;
    padding: 0 25px
}

.header-content {
    display: grid;
    justify-content: space-between;
    place-items: center;
/* PROBLEM WITH VERTICAL CENTRYING */
    grid-template-areas: 
    'logotype header-menu header-menu';
}

.logotype {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr);
    background-size: cover;
    grid-area: logotype;
}

.header-menu {
    background-color: red;
    grid-area: header-menu;
}