.profile-wallpaper {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/005/152/375/small/modern-futuristic-neon-purple-background-free-vector.jpg);
    background-size: cover;
    width: 100%;
}

.profile-wallpaper {
    font-size: 3rem;
    color: hsla(350, 100%, 95%, 1);
    text-shadow: -2px -2px #591111, 2px 2px #401160,
    2px -2px #11592e, -2px 2px #114f60;
}