.logotype {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr);
    background-size: cover;
}